*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #ddd;
}
.navbar {
    display: flex;
    background-color: #009688;
    overflow: hidden;   
    align-items: center; 
}
.navbar a{
    text-decoration:none ;
    padding: 16px 18px;
    font-family:serif;
    text-align: center;
    color: aliceblue;
    font-size: 18px;
    text-transform: uppercase;   
}
.navbar a:hover {
    background-color:#f2f2f2;
    color: red;
}
.navbar a.active {
    background-color: #04aa6d;
    color: aliceblue;
}
.navbar  .search-container
{
    position: absolute;
    top: 30px;
    right: 50px;    
}
.navbar input{
    height: 10px;
    padding: 10px;
    width: 129px;
    border-radius: 10px;
}
.navbar .search-container button {
    float: right;
    margin-top:0px;
    margin-right: 16px;
    color: #333;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
} 
.navbar .search-container button:hover {
    background: #ccc;
    border: none;
}
.container {
    position:relative;
    text-align: center;
    color:#333;
}
.logo{
    width:50px;
    padding:0px;
}
.facilities{
    background-color: #ccc;
}
.text{
    color:#ffffff;
    position: absolute;
    top: 250px;
    left: 0px;
    display: block;
    font-size:25px;
}
.nameofschool{
    color:yellow;
    position: absolute;
    top: 200px;
    left: 0px;
    display: block;
    font-size:25px;
}
.school{
    color:#16d80c;
    position: absolute;
    top: 300px;
    left: 0px;
    display: block;
    font-size:25px;
}
/* 
for faclities page */
.blur{
    background-image:url(./photos/blur.jpeg);
    filter: blur(8px); 
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;
}
footer
{
    color: #333;
    text-align: center;
    font-size: medium;
   
}
.button1 {
    top: 100px;
    font-size: 16px;
    margin: 3px 3px;
    cursor: pointer;
}
